.content{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.text{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    padding-top: 25px;
}

.button{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 20px;
}

.button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

