.content{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.text{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    padding-top: 25px;
}

.active_zone{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.button, .geo{
    margin: 0px;
    padding: 0px;
    padding: 7px 20px;
}

.input::placeholder{
    text-align: left;
}

.input:focus::placeholder{
    margin: 0;
    padding: 0;
    text-align: start;
    color: transparent;
}

.input{
    margin: 0;
    padding: 0;
    padding: 7px 20px 7px 6px;
    display: inline-block;
    width: 250px;
}

.input:focus{
    border-color: black;
    outline: none;
    box-shadow: gray 0px 0px 10px;
}

.input, .button, .geo{
    border-radius: 20px;
    border: 1px solid rgb(148, 142, 142);
}

.button:hover, .geo:hover{
    background-color: rgb(41, 188, 224);
    color: rgb(255, 255, 255);
    border-color: black;
    box-shadow: gray 0px 0px 10px;
}

#message_box{
    margin: 0;
    padding: 10px;
    border: rgb(148, 142, 142) 1px solid;
    width: 100%;
    height:400px;
    border-radius: 10px 10px 15px 15px;
    box-shadow: gray 0px 0px 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.box{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: black 1px solid;
    border-radius: 20px;
    padding: 20px;
}

span{
    margin: 0;
    padding: 0;
    padding: 7px 20px 7px 6px;
    display: inline-block;
    width: 250px;
    border-radius: 20px;
    border: 1px solid rgb(148, 142, 142);
}

.sent-message {
    background-color: #67a7eb;
    color: white;
    margin: 5px 0;
    padding: 8px 12px;
    border-radius: 18px;
    max-width: 70%;
    align-self: flex-end;
    word-wrap: break-word;
}

.received-message {
    background-color: #f1f1f1;
    color: #333;
    margin: 5px 0;
    padding: 8px 12px;
    border-radius: 18px;
    max-width: 70%;
    align-self: flex-start;
    word-wrap: break-word;
}